*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
}


.navbar{
    height: 65px; 
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    line-height: 60px;
    background-color: #39230d;
    width: 100%;
    object-fit: cover;
    top: 0;
    z-index: 5;
    position:fixed;
  
  
      
}

#logo{
    float: left;
   
    margin-left: 20px;
    font-size: 36px;
    color: rgb(225, 196, 168);
}

nav ul {
    
   
    float: right;
}

nav ul li{
    display: inline-block;
    /* list-style: none; */
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;

}

nav ul li a{
    color: #edc59e;
    text-decoration: none;
    font-size: 18px ;
    text-transform: uppercase;
    padding: 0px 20px;
    margin-right: 20px;
}


nav ul li a:hover{
    color: #E9E9E7;
}






.intro{
    height: 100vh;
}

.intro video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.intro h1{
    position: absolute;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-150%, -90%);
    font-size: 300px;
    font-weight: 300;
    color: rgba(236, 223, 206, 0.57);
}

.intro h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-48%, -10%);
    font-size: 400px;
    color: rgba(236, 223, 206, 0.691);
}


.intro h4{
    position: absolute;
    top: 8%;
    background-color: rgba(57, 35, 13, 0.908);
    width: 420px;
    text-align: center;
    box-sizing: border-box;
    left: 50%;
    border-radius: 2px;
    transform: translate(-48%, -10%);
    font-size: 20px;
    color: rgba(243, 229, 211, 0.908);
}

.scroll-down{
    height: 60px;
    width: 30px;
    background-color: #39230d;
    
    position: absolute;
    left: 50%;
    bottom: 890px;
    border-radius: 50px;
    border: 3px solid #edc59e;
    /* cursor: pointer; */
} 

.scroll-down::before,
.scroll-down::after{
    content: '';
    position: absolute;
    top: 20%;
    left: 50%;
    height: 10px;
    width: 10px;
    border: 3px solid #edc59e;
    transform: translate(-50%, -100%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;

    animation: scroll-down 1s ease-in-out infinite;


}

.scroll-down::after{
    top: 30%;
    animation-delay: 0.3s;
}

@keyframes scroll-down{
    0%{
        opacity: 0;
    }
    30%{
        opacity: 1;

    }
    60%{
        opacity: 1;

    }
    100%{
        opacity: 0;
        top: 95%;
    }
}









/* .ordinary h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(60px, 280px);;
    font-size: 40px;
    color: rgba(11, 11, 10,);
} */

/* section h2{
    color: rgba(236, 223, 206, 0.625);
    position: absolute;
    transform: translate(80%, 30%);
    font-size: 150px;
} */




/* zinc text */
/* section p{
    color: rgba(26, 18, 9, 0.862);
    position: absolute;
    transform: translate(600px, 280px);
    font-size: 34px;
} */

section img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}


.product img{
    width: 7%;
    height: 20%;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(598px, -660px);
}

.bottle img{
    width: 36%;
    height: 60%;
    object-fit: cover;
    /* top: 5%;
    left: 10%; */
   
    transform: translate(20px, -1130px);
}






button{
    background: none;
    border: none;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    background-color: #E9E9E7;
    margin-top: 10px;
    text-align: center;
    padding: 10px 120px 50px 20px; 
    margin-left: 20px; 
    transform: translate(1450px, -1230px);
    z-index: 5;
}



.explore{
    position: absolute;
    /* display: inline-block; */
    width: 350px;
    height: 60px;
    background-color:rgba(236, 223, 206, 0.625);
    border-radius: 10px;
    transform: translate(1250px, -750px);
    
    text-transform: uppercase;
    box-shadow: 0 15px 15px rgba(0,0,0,0.5);
    text-align: center;
    line-height: 60px;
    z-index: 9;
    /* margin-top: 0px; */
}

#explore_btn {
    text-decoration: none;
    color:#cbc9c7;
    font-size: 21px;
    font-weight: bolder;
}

.explore:hover{
    background-color: #39230d9f;
}


